<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Package</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <style>
        body {
            min-height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        main{
            flex:1;
        }

        footer{
            align-self: flex-end;
        }
    </style>

</head>
<body>
    <header>
         <!--navigation-->
         <div class="text-center">
             <a href="/"><img src="/images/logo.jpg" class="img-thumbnail" width="400" height="400" alt="logo"></a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">       
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/Sara/add-driver">Add Driver</a>
                        <a class= "nav-item nav-link" href="/Sara/list-drivers">List Drivers</a>
                        <a class= "nav-item nav-link" href="/Sara/delete-driver">Delete Driver</a>
                        <a class= "nav-item nav-link" href="/Sara/add-package">Add Package</a>
                        <a class= "nav-item nav-link" href="/Sara/list-packages">List Packages</a>
                        <a class= "nav-item nav-link" href="/Sara/delete-package">Delete Package</a>
                        <a class= "nav-item nav-link" href="/Sara/stats"> Statistics</a>
                        <a class= "nav-item nav-link" href="/Sara/signup"> Sign Up</a>
                        <a class= "nav-item nav-link" href="/Sara/login"> Log In</a>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    
    <main>
        <div class="container bg-light mt-4">
            <form action="/Sara/delete-package-req" method="GET">
                <div class="mb-3">
                    <label for="packageToDelete" class="form-label mt-3">Package Id:</label><br>
                    <input type="text" class="form-control"id="package-id" name="packageToDelete">
                </div>
                <button type="submit" class="btn btn-primary mb-3" >Submit</button>
            </form>
        </div>  
    </main>


</body>
    <!-- make footer fill the screen -->
    <div> 
        <footer>
            <div class="card-group">
                <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Project</h5>
                    <p class="card-text">Sara Kok</p>
                </div>
                </div>
                <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">About Us</h5>
                    <p class="card-text"> Delivery App.</p>
                </div>
                </div>
                <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Contact Us</h5>
                    <p class="card-text">+61 0123 2948</p>
                    <p class="card-text">Delivery@app.com</p>
                </div>
                </div>
            </div>
        </footer>
    </div>
</html>