<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <style>
        body {
            min-height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        main{
            flex:1;
        }

        footer{
            align-self: flex-end;
        }
        .signup{
            width: 360px;
            margin: auto;

        }
    </style>

</head>
<body>
    <header>
         <!--navigation-->
        <div class="text-center">
            <a href="/"><img src="/images/logo.jpg" class="img-thumbnail" width="400" height="400" alt="logo"></a>
        </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="/Sara/add-driver">Add Driver</a>
                            <a class= "nav-item nav-link" href="/Sara/list-drivers">List Drivers</a>
                            <a class= "nav-item nav-link" href="/Sara/delete-driver">Delete Driver</a>
                            <a class= "nav-item nav-link" href="/Sara/add-package">Add Package</a>
                            <a class= "nav-item nav-link" href="/Sara/list-packages">List Packages</a>
                            <a class= "nav-item nav-link" href="/Sara/delete-package">Delete Package</a>
                            <a class= "nav-item nav-link" href="/Sara/stats"> Statistics</a>
                            <a class= "nav-item nav-link" href="/Sara/signup"> Sign Up</a>
                            <a class= "nav-item nav-link" href="/Sara/login"> Log In</a>
                        </div>
                    </div>
                </div>
            </nav> 

    </header>
    <main class="signup">
        
        <div class="container text-center">
            <h1>Sign Up Here</h1>
        </div>
        
        <div class="container bg-light p-4 rounded shadow">
            <form action="/Sara/signup-post" method="post" id="the-form">
        
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="username">Username:</label><br>
                            <input type="text" class="form-control" id="email" name="username" minlength="6" pattern="^[a-zA-Z0-9]+$" 
                            title="Username must be at least 6 characters and must be alphanumeric" required><br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="password">Password:</label><br>
                            <input type="password" class="form-control" id="password" name="password" minlength="5" maxlength="10" required><br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="Confirm Password">Confirm Password:</label><br>
                            <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required><br>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
            </form>
        </div>
    </main>

     <!-- make footer fill the screen -->
     <div> 
        <footer>
            <div class="card-group">
                <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Project</h5>
                    <p class="card-text">Sara Kok</p>
                </div>
                </div>
                <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">About Us</h5>
                    <p class="card-text"> Delivery App.</p>
                </div>
                </div>
                <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Contact Us</h5>
                    <p class="card-text">+61 0123 2948</p>
                    <p class="card-text">delivery@app.com</p>
                </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>


